body {
    background-color: black;
    color: gold;
}

.container{
    text-align: center;
    position: relative;
    top: 220px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    line-break: strict;
}

#birthday{
    width: 180px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}
.clock {
    font-size: 25px;
}